*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html,body,.wrap{
    width:100%;
    height:100%;
}
.wrap{
    display: flex;
    flex-direction: column;
}
section{
    overflow: hidden;
    flex:1;
    width:100%;
}
section .page{
    width:100%;
}
section .page img{
    width:100%;
}
section .list{
    width:100%;
}
section .list h4{
    font-weight: 400;
    font-size: 16px;
}
header{
    padding: 0 5%;
    width:100%;
    height:50px;
    background: aqua;
    display: flex;
    align-items: center;
}
header a i.icon{
    font-size: 22px;
}
header a{
    flex:1;
    color:#fff;
    font-size: 16px;
}
header a:nth-child(2){
    text-align: center;
}
header a:nth-child(3){
    text-align: right;
}